<RUTA_CALPOST_EXE>C:\Calpuff_tesis\calpost_v7.2.0.exe</RUTA_CALPOST_EXE>
<RUTA_CALPOST_INP>C:\Calpuff_tesis\calpuff.inp</RUTA_CALPOST_INP>
<RUTA_CALPOST_OUT>C:\Calpuff_tesis\output\</RUTA_CALPOST_OUT>
<MODDATA>C:\Calpuff_tesis\calpuff.con</MODDATA>
<PSTLST>C:\Calpost_tesis\CALPOST.LST</PSTLST>
<PLPATH>C:\Calpost_tesis\Talanquen\Pab_S1</PLPATH>